<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<input type='number' [(ngModel)]="peopleId">
<button (click)="getPeople()">People</button>
<ul>
  <li *ngIf="people != null">{{people.name}}</li>
</ul>
<hr/>

<input type='number' [(ngModel)]="filmId">
<button (click)="getFilm()">Film</button>
<ul>
  <li *ngIf="film != null">{{film.title}}</li>
</ul>
<hr/>

<input type='number' [(ngModel)]="planetId">
<button (click)="getPlanet()">Planet</button>
<ul>
  <li *ngIf="planet != null">{{planet.name}}</li>
</ul>
<hr/>

<input type='number' [(ngModel)]="speciesId">
<button (click)="getSpecies()">Species</button>
<ul>
  <li *ngIf="species != null">{{species.name}}</li>
</ul>
<hr/>

<input type='number' [(ngModel)]="starshipId">
<button (click)="getStarship()">Starships</button>
<ul>
  <li *ngIf="starship != null">{{starship.name}}</li>
</ul>
<hr/>

<input type='number' [(ngModel)]="vehicleId">
<button (click)="getVehicle()">Vehicle</button>
<ul>
  <li *ngIf="vehicle != null">{{vehicle.name}}</li>
</ul>
<hr/>

<router-outlet></router-outlet>

